/**
  |============================
  | VARIABLES
  |============================
*/
:root {
  --accent-color: #404bbf;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-slate-color: #434455;
  --secondary-navy-color: #2e2f42;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --iris-text-color: #4d5ae5;
  --primary-white-color: #fff;
  --cloud-color: #f4f4fd;
  --cornflower-color: #e7e9fc;
  --light-slate-color: #8e8f99;
}
/**
  |============================
  | BASE STYLES
  |============================
*/
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: var(--primary-font);
  color: var(--primary-slate-color);
  background-color: var(--primary-white-color);
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

input {
  font-family: inherit;
}
/**
  |============================
  | /BASE STYLES
  |============================
*/

/**
  |============================
  |COMPONENTS 
  |============================
*/
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  color: var(--secondary-navy-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.subtitle {
  color: var(--secondary-navy-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.description-text {
  color: var(--primary-slate-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/**
  |============================
  | /COMPONENTS 
  |============================
*/

/**
  |============================
  | HEADER 
  |============================
*/
.header {
  border-bottom: 1px solid var(--cornflower-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: 76px;
  color: var(--iris-text-color);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text-logo {
  color: var(--secondary-navy-color);
}

.header-nav {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  flex-basis: auto;
  gap: 40px;
}

.nav-link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--secondary-navy-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item {
  position: relative;
}
.current {
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: '';
  background-color: var(--accent-color);
}

.header-address {
  margin-left: auto;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-link {
  color: var(--primary-slate-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus,
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/**
  |============================
  | /HEADER
  |============================
*/

/**
  |============================
  | HERO 
  |============================
*/
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--secondary-navy-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-bg.jpg');
  padding: 188px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 48px;
  color: var(--primary-white-color);
  max-width: 496px;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.modal-btn {
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  font-family: var(--primary-font);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--iris-text-color);
  color: var(--primary-white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
}

/**
  |============================
  | /HERO 
  |============================
*/

/**
  |============================
  | QUALITIES 
  |============================
*/
.qualities {
  padding-top: 120px;
  padding-bottom: 120px;
}
.qualities-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.qualities-item {
  flex-basis: calc((100% - 72px) / 4);
}
.qualities-subtitle {
  margin-bottom: 8px;
}

.qualities-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--cloud-color);
}
/**
  |============================
  | /QUALITIES
  |============================
*/

/**
  |============================
  |ACTIVITY 
  |============================
*/
.activity {
  padding-bottom: 120px;
}

.activity-list {
  display: flex;
  gap: 24px;
}

.activity-item {
  flex-basis: calc((100% - 48px) / 3);
}

/**
  |============================
  | /ACTIVITY 
  |============================
*/

/**
  |============================
  |TEAM 
  |============================
*/
.team {
  background-color: var(--cloud-color);
  padding: 120px 0;
}

.team-list,
.team .social-list {
  display: flex;
  gap: 24px;
}

.team .social-list {
  justify-content: center;
}

.team .employee {
  padding: 32px 0;
}

.team .subtitle,
.team .description-text {
  text-align: center;
  margin-bottom: 8px;
}

.team-item {
  flex-basis: calc((100% - 48px) / 3);
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team .link {
  background-color: var(--iris-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .link:hover,
.team .link:focus {
  background-color: var(--accent-color);
}

.team .icon {
  fill: var(--cloud-color);
}
/**
  |============================
  |/TEAM 
  |============================
*/

/**
  |============================
  |CUSTOMERS 
  |============================
*/
.customers {
  padding: 120px 0;
}

.customers-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.customers-item {
  height: 88px;
  width: calc((100% - 120px) / 6);
}

.customers .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  color: var(--light-slate-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers .icon {
  fill: currentColor;
}

.customers .link:hover,
.customers .link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
/**
  |============================
  |/CUSTOMERS 
  |============================
*/

/**
  |============================
  | FOOTER
  |============================
*/
.footer {
  background-color: var(--secondary-navy-color);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer .logo-container {
  margin-right: 120px;
}

.footer .logo-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .text-logo {
  color: var(--cloud-color);
}

.footer .description-text {
  color: var(--cloud-color);
  max-width: 264px;
}

.footer .social-container {
  margin-right: 80px;
}

.footer .social-description-text {
  color: var(--primary-white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer .social-list {
  display: flex;
  gap: 16px;
}

.footer .social-list-item {
  height: 40px;
  width: 40px;
}

.social-container .icon {
  fill: var(--cloud-color);
}

.footer .social-list .link {
  background-color: var(--iris-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-list .link:hover,
.footer .social-list .link:focus {
  background-color: #31d0aa;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: var(--primary-white-color);
  border-radius: 4px;
  border: 1px solid var(--primary-white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-input::placeholder {
  color: var(--primary-white-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  align-self: flex-end;
  border: none;
  border-radius: 4px;
  background: var(--iris-text-color);
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--accent-color);
}

.send-icon {
  margin-left: 16px;
  fill: var(--primary-white-color);
}
/**
  |============================
  |/FOOTER 
  |============================
*/
/* ======================================/INDEX.HTML============================= */

/* ======================================PORTFOLIO.HTML============================= */
/**
  |============================
  | MAIN 
  |============================
*/
.main-section {
  padding: 96px 0 120px 0;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-basis: calc((100% - 96px) / 5);
  margin-bottom: 72px;
}

.app-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  row-gap: 48px;
}

.app-list-item {
  padding-bottom: 32px;
  flex-basis: calc((100% - 48px) / 3);
  background: var(--primary-white-color);
}

.app-link {
  display: block;
  border: 1px solid var(--cornflower-color);
  background: var(--primary-white-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-link:hover,
.app-link:focus {
  border: 1px solid var(--cloud-color);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.app-descr-text {
  color: var(--cloud-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  background-color: var(--iris-text-color);
}

.main-section .img-container {
  position: relative;
  overflow: hidden;
}

.app-list .link:hover .app-descr-text,
.app-list .link:focus .app-descr-text {
  transform: translateY(0);
}

.app-container {
  padding: 32px 16px;
  border: 1px solid var(--cornflower-color);
  border-top: none;
}

.main-section .subtitle {
  margin-bottom: 8px;
}

.filter-btn {
  padding: 12px 24px;
  font-family: var(--primary-font);
  border: 1px solid var(--cornflower-color);
  border-radius: 4px;
  background: var(--cloud-color);
  color: var(--iris-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
/**
  |============================
  | /MAIN 
  |============================
*/
/* ======================================/PORTFOLIO.HTML============================= */

/* ================================================MODAL========================================================= */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.button-close {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window .close-icon {
  fill: var(--secondary-navy-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
  background-color: var(--accent-color);
  border: none;
}

.button-close:hover .close-icon,
.button-close:focus .close-icon {
  fill: var(--primary-white-color);
}
/**
  |============================
  | REGISTRATION FORM
  |============================
*/
.reg-form-description {
  margin-bottom: 16px;
  color: var(--secondary-navy-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.field-container {
  margin-bottom: 8px;
}
.reg-form .label-description {
  display: block;
  margin-bottom: 4px;
  color: var(--light-slate-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.reg-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--navy-blue-modal);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reg-input:hover,
.reg-input:focus,
.reg-textarea:hover,
.reg-textarea:focus {
  border: 1px solid var(--iris-text-color);
}

.reg-input:hover + .input-icon,
.reg-input:focus + .input-icon {
  fill: var(--iris-text-color);
}

.label-comment {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.textarea-container {
  margin-bottom: 16px;
}

.reg-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  color: var(--navy-blue-modal);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--navy-blue-modal);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reg-textarea::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.checkbox-container {
  margin-bottom: 24px;
}

.label-check {
  display: block;
  color: var(--light-slate-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.link-privacy {
  color: var(--iris-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.checkbox-custom {
  height: 16px;
  width: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  fill: transparent;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-container {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--secondary-navy-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked + .label-check > .checkbox-custom {
  border: none;
  background-color: var(--accent-color);
  fill: #f4f4fd;
}

.send-btn {
  display: block;
  margin: 0 auto;
  height: 56px;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background: var(--iris-text-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.send-btn:hover,
.send-btn:focus {
  background-color: var(--accent-color);
}
/* ================================================/MODAL========================================================= */
